@{
    ViewBag.Title = "Home Page";
}

@*<script src="~/Scripts/jquery-1.10.2.js"></script>*@

<script type="text/javascript">
    $(document).ready(function (){
        alert($("#tags"));
        $("#tags").autocomplete(
            {
                source: '@Url.Action("TagSearch", "HomeController")'
            });
    })

</script>



<div id="the-basics">
    <input type="text" id="tags" />


</div>





